* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.main {
    width: 60vw;
    border: 2px solid gray;
    padding: 0.5rem;
    font-size: 15px;
    margin: auto;
}

.head {
    text-align: center;
    padding: 0.5rem;
}

.head h1 {
    padding: 0.5rem;
}

.head div {
    padding: 0.1rem;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red;  */
}

.head div a{
    padding: 0.3rem;
    color: blue;
    transition: all 1s;
}

.head div a:hover{
    padding: 0.3rem;
    border-radius: 20px;
    color: red;
    background-color: yellow;
}

.skills{
    margin: 10px 0;
}
.skills ul{
    width: 90%;
    margin-top: 10px;
    margin-left: 2%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    color: yellow;
}

.education{
    margin: 10px 0;
}

.education table{
    width: 90%;
    margin-left: 5%;
}
.education table th,td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}
.internships div{
    width: 90%;
    margin-left: 5%;
    padding: 0.2rem;
}

.intershipDesc1 p,.intershipDesc2 p{
    padding: 0.2rem;
    /* border: 1px solid red; */
}
.intershipDesc1 button , .intershipDesc2 button{
    margin:10px 0;
    width: 60px;
}

.projects div{
    width: 90%;
    margin-left: 5%;
    padding: 0.2rem;
}
.project1 p,.project2 p{
    padding: 0.2rem;
    /* border: 1px solid red; */
}
.project1 button , .project2 button{
    margin:10px 0;
    width: 60px;
}


@media (max-width:800px) {
    .main {
        width: 90vw;
    }
}